/* .atlas-summary {
  text-align: center;
} */

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.atlas-summary table:not([class]) {
  th:not([align]),
  td:not([align]) {
    text-align: center; /* Reset alignment for table cells */
  }
}

.atlas-summary a {
  color: #000000;
  text-decoration: none;
}

.center-table {
  text-align: center;
}

.center-table th:not(:last-child),
.center-table td:not(:last-child) {
  border-right: 0.05rem solid var(--md-typeset-table-color);
}

.correct-size {
  background-color: #4dac26;
}

.correct-index {
  background-color: #b8e186;
}

.correct-index-alt {
  background: linear-gradient(135deg, #b8e186 50%, #ffed4b 50%);
}

.some-correct-index {
  background: linear-gradient(135deg, #b8e186 50%, #f1b6da 50%);
}

.incorrect-size {
  background-color: #f1b6da;
}

.work-in-progress {
  background-color: #dddddd;
}

.no-presentation {
  background-color: grey;
}
